<div class="container blog">
  <div class="sub-sub-container">
    <span class="date">11/03/2015</span>
    <h2>My Journey to Become a Web Developer</h2>
    <div>
      <input type="checkbox" class="read-more-state" id="post-1" />
      <div class="read-more-wrap article">
        My choice of getting into web development and learning Ruby was influenced
        heavily by my husband, <%= link_to "Marius","https://twitter.com/mlpinit" %>
        who is a Ruby on Rails developer.
        I wasn't certain that I'll like it, so I decided to look into different
        tutorials. After lots of googling,
        I stumbled upon the <%= link_to "Odin Project", "http://www.theodinproject.com/courses?ref=home" %>.
        Without any hesitation, I started
        working on it. There were many great
        resources that were used by the Odin Project and I found myself being more and
        more curious about web development. I went through the front end part of the program.
        When I got to Ruby, I switched to a different resource -- <%= link_to "Learn Ruby the
        Hard Way", "http://learnrubythehardway.org/book/" %>.
        I really enjoyed the way Zed Shaw introduced new concepts. I
        also went through the <%= link_to "Command Line", "http://learnrubythehardway.org/book/appendixa.html" %>
        course that he has, since at first I didn't
        even know what the terminal was! Did I mention that I decided to go with Vim as
        my text editor? There were many commands that I had to learn that didn't make
        sense at all. I tried really hard to remember all of the commands
        through repetition.<span class="read-more-target">
        After trying to study on my own for a couple of months, I realized how difficult
        it is to find the right material and most importantly to keep going. I was
        learning things, but it didn't seem like it was enough for me to
        become a real developer in the near future.
        </br>After studying by myself for a couple of months, I felt like I was kind of
        stuck. I couldn't tell if I was improving at all.
        Good thing, that we had a trip planned to San Francisco to visit our friend.
        While on the west coast, during my
        spare time, I decided to attend a CSS/HTML workshop organized by RailsBridge. It
        was great being surrounded by other beginners, who, just like me, were trying to
        figure out how to make sense of CSS and HTML. Meeting new people and working on
        the same project gave me a boost of confidence and motivation to keep going. During
        my visit, I also ended up going to an intro session about Dev Bootcamp. It
        included a yoga class and a tour around their office. I really enjoyed learning
        more about the program, I liked the idea of learning how to program together
        with other students. Everyone seemed like they really enjoyed their time. After that
        trip, I was super excited about studying again. Seeing other people trying to
        pick up the skill of programming motivated me to keep going. I decided to
        look into different bootcamps and see if I can benefit from going to one.
        Studying alone was possible, but I was very attracted by the idea of being part of a
        community. After tons of
        googling, I found out about <%= link_to "Code.Builders", "http://code.builders/" %>,
        which seemed like a perfect fit.
        Small class size, intense studying, great instructor, I was sold.
        Couple months forward, I'm building my first website! The program started about
        a month ago, and I'm really enjoying every part of it. Those are the first steps
        towards becoming a web developer, it finally feels like I'm on the right track!</span>
      </div>
      <label for="post-1" class="read-more-trigger"></label>
    </div>
    <div class="separator">
    </div>
  </div>
  <div class="sub-container">
    <h3>Posts</h3>
    <p>Links for posts -- coming soon</p>
  </div>
</div>

