<div class="about_me_background">
  <div class="container">
    <div class="header">
      <h1>A little about me...</h1></h1>
      <div class="about_me">
        <p class="text">I strive to work hard and live hard.  I love to eat good food, travel anywhere new, attend shows, and achieve goals.  Challenges and positive influences are welcomed and pursued.  I seek to be inspired and learn new topics, but I also enjoy a healthy dose of relaxation.  Fond of the great outdoors and all activities water related, I crave new adventures and making memories.</p>
      </div>
    <div class="images">
    <ul class="img">
      <li>
        <a href="http://www.doc.govt.nz/parks-and-recreation/places-to-go/nelson-tasman/places/abel-tasman-national-park/">
          <img src="/assets/abeltasman2.png" />
          <span class="img_txt"><span>Abel Tasman National Park, New Zealand</span></span>
        </a>
      </li>
      <li>
        <a href="http://www.greatbarrierreef.org/">
          <img src="/assets/bigclam.png" />
          <span class="img_txt"><span>Great Barrier Reef, Australia</span></span>
        </a>
      </li>
      <li>
        <a href="http://www.doc.govt.nz/templates/trackandwalk.aspx?id=40052&epslanguage=en">
          <img src="/assets/ngauruhoesummit2.png" />
          <span class="img_txt"><span>Mt. Ngauruhoe, New Zealand</span></span>
        </a>
      </li>
    </ul>
      <!-- <%= image_tag "abeltasman2.png" %>
      <%= image_tag "bigclam.png" %>
      <%= image_tag "ngauruhoesummit2.png" %> -->
    </div>
      <div class="navigation">
        <ul>
          <li><%= link_to "Home", "/" %></li>
          <li><%= link_to "Work", "/work" %></li>
          <li><%= link_to "Projects", "/projects" %></li>
           <!-- <li><a href="/">Home</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/projects">Projects</a></li> -->
        </ul>
      </div>
    </div>
    <div class="space">
    </div>
    <div class="footer">
      <div class="social_links">
        <ul>
          <li><a href="https://www.linkedin.com/pub/evelyn-bell/a1/868/85" class="fa fa-lg fa-linkedin"></a></li>
          <li><a href="https://github.com/xbell" class="fa fa-lg fa-github"></a></li>
          <li><a href="mailto:evieb16@gmail.com" class="fa fa-md fa-envelope"></a></li>
          <li><a href="https://www.google.com/maps/place/The+Neck+9382,+New+Zealand/@-44.4576134,169.0509639,11z/data=!3m1!4b1!4m2!3m1!1s0x6cd54d7ae052454d:0x500ef8684795f50" class="fa fa-md fa-camera-retro"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer_space">
    </div>
  </div>
</div>
