<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'logo.ico' %>
</head>
<body>
  <div class="container header">
      <a href="/" class="sub-sub-container retro">Tammy Pop</a>
    <ul class="h">
      <li><a href="/projects" class="hrv-grow">Projects</a>
        <ul class="dropdown">
          <li><a href="https://github.com/smurfik/todo">Todo App</a></li>
          <li><a href="https://github.com/smurfik/far_mar">Far Mar</a></li>
          <li><a href="https://github.com/smurfik/google-homepage">Odin Project</a></li>
        </ul>
      </li>
      <li><a href="/blog" class="hrv-grow">Blog</a></li>
    </ul>
  </div>

  <div id="sub-wrapper">
    <%= yield %>
  </div>

  <div id="footer">
    <div class="footer">
      <ul>
        <li><a href="https://linkedin.com/pub/tammy-pop/25/abb/7aa">
            <%= image_tag "linkedin.png", class: "corners hvr-fade" %>
          </a>
        </li>
        <li><a href="https://twitter.com/smurfikpop">
            <%= image_tag "twitter.png", class: "corners hvr-fade" %>
          </a>
        </li>
        <li><a href="https://github.com/smurfik">
            <%= image_tag "git.png", class: "corners hvr-fade" %>
          </a>
        </li>
      </ul>
    </div>

</body>
</html>
