<!DOCTYPE html>
<html>
<head>
  <title>Tammy Pop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'logo.ico' %>
</head>
<body>
  <div id="header" class="container">
    <a href="/">
      <img src="/assets/name.png" alt="Tammy Pop" />
    </a>
    <ul class="h">
      <li><a href="/projects" class="hrv-grow">Projects</a></li>
      <li><a href="http://twitter.com/smurfikpop" class="hrv-grow">Blog</a></li>
    </ul>
  </div>

  <div id="sub-wrapper">
    <%= yield %>
  </div>

  <div id="footer">
    <div class="footer">
      <ul>
        <li><a href="https://linkedin.com/pub/tammy-pop/25/abb/7aa">
            <img src="/assets/linkedin.png" alt="LinkedIn" class="corners hvr-fade">
          </a>
        </li>
        <li><a href="https://twitter.com/smurfikpop">
            <img src="/assets/twitter.png" alt="Twitter" class="corners hvr-fade">
          </a>
        </li>
        <li><a href="https://github.com/smurfik">
            <img src="/assets/git.png" alt="Github" class="corners hvr-fade">
          </a>
        </li>
      </ul>
    </div>

</body>
</html>
